<?xml version="1.0"?>
<model>
  <name>Flooded house (tin roof)</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>VEDC 2026 team</name>
  </author>

  <description>
    A small house under water up to the eaves, blue tin roof. 6 x 4.5 m.
  </description>
</model>
